<h2>질문등록</h2>
<form action="{% url 'option_create' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="질문내용">
    <div> 정방향 : [0,1,2,3,4]</div>
    <div> 역방향 : [4,3,2,1,0]</div>
    <select name="score">
        <option value="0" selected>정방향</option>
        <option value="1">역방향</option>
    </select>
    <select name="type">
        <option value="a" selected>a</option>
        <option value="b">b</option>
        <option value="c">c</option>
        <option value="d">d</option>
        <option value="e">e</option>
        <option value="f">f</option>
    </select>
    <button type="submit">질문저장</button>
</form>
<hr>
<h3>질문관리</h3>
<div>
    <!-- 질문삭제 삭제버튼 주의 -->
    {% if question.count > 0 %}
    {% for i in question %}
    <div class="questions">
        <b>
            질문 : {{i.id}}
        </b>
        <form action="/quetion_update/{{i.id}}/" method="POST">
            {% csrf_token %}
            <input type="text" value="{{i.text}}" data-id="{{i.id}}" name="text">
            <button class="update" type="submit">수정</button>
            <a class="deleted" href="/quetion_delete/{{i.id}}/">삭제</a>
        </form>

    </div>
    <div class="options">
        {% if i.options.count > 0 %}
        {% for j in i.options.all %}
        <div>
            {{j.id}}
            <form action="/option_update/{{j.id}}/" method="POST">
                {% csrf_token %}
                <input type="text" value="{{j.text}}" data-id="{{j.id}}" name="text">
                <input type="text" value="{{j.score}}" data-id="{{j.id}}" name="score">
                <button class="update" type="submit">수정</button>
                <a class="deleted" href="/option_delete/{{j.id}}/">삭제</a>
            </form>

        </div>
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% endfor %}
    {% endif %}
</div>
<script>
    d_btn = document.querySelector(".deleted")
</script>