{% extends './common/common.html' %}
{% load static %}

{% block contents %}
<div class="container">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <h3>솔루션데이터 크롤링하기 </h3>
    <form action="/vidio_solution/" method="POST">
        {% csrf_token %}
        <input type="text" name="keyword">
        <select type="text" name="age">
            <option value="10" selected>10대</option>
            <option value="20">20대</option>
            <option value="30">30대</option>
            <option value="40">40대</option>
            <option value="50">50대</option>
            <option value="60">60대</option>
            <option value="70">70대</option>
            <option value="80">80대</option>
        </select>
        <button type="submit">수집하기</button>
    </form>

    {% if result_datas.count > 0 %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            {% for i in result_datas %}
            <tr>
                <td>{{i.id}}</td>
                <td>
                    <a href="{{i.video_url}}">{{i.title}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}